@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
  --bg-color: hsl(218, 23%, 16%);
  --neutral-color: hsl(217, 19%, 24%);
  --accent-color: hsl(150, 100%, 66%);
  --primary-color: hsl(193, 38%, 86%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-color);
}

.advice-container{
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  
}

.advice-number{
  color: var(--accent-color);
}

.advice-quote{
  color: var(--primary-color);
  font-size: 1.75rem;
}

.advice-button{
  background-color: var(--accent-color);
  border: none;
  padding: 15px;
  border-radius: 50%;
  display: block;
}

.dice-icon{
  width: 1.1rem;
}